.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
}

.TW-tile {
    -fx-background-color : orange;
}

.DW-tile {
    -fx-background-color : pink;
}

.TL-tile {
    -fx-background-color : mediumturquoise;
}

.DL-tile {
    -fx-background-color: skyblue;
}

.special-tile-text {
    -fx-font-size: 11pt;
    -fx-fill: gray;
}

.black-text {
    -fx-font-size: 12pt;
    -fx-fill: black;
}

.informative-text {
    -fx-fill:orange;
}

.error-text {
    -fx-fill: orangered;
}

.success-text {
    -fx-fill: lightgreen;
}

#playerScore {
    -fx-fill: green;
}

#cpuScore {
    -fx-fill: red;
}

